@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: local("Cuprum Regular"), local("Cuprum-Regular"),
       url("../fonts/cuprum.woff2") format("woff2"),
       url("../fonts/cuprum.woff") format("woff");
}
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: local("Cuprum Italic"), local("Cuprum-Italic"),
       url("../fonts/cuprumitalic.woff2") format("woff2"),
       url("../fonts/cuprumitalic.woff") format("woff");
}
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: local("Cuprum Bold"), local("Cuprum-Bold"),
       url("../fonts/cuprumbold.woff2") format("woff2"),
       url("../fonts/cuprumbold.woff") format("woff");
}
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  src: local("Cuprum Bold Italic"), local("Cuprum-BoldItalic"),
       url("../fonts/cuprumbolditalic.woff2") format("woff2"),
       url("../fonts/cuprumbolditalic.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
       url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
       url("../fonts/ptsansbold.woff2") format("woff2"),
       url("../fonts/ptsansbold.woff") format("woff");
}
/*Variables*/
:root {
  --basic-red: #EE3643;
  --basic-red-hover: #CA2C37;
  --basic-red-darken: #BA2732;
  --basic-blue: #32425C;
  --basic-blue-darken: #293449;
  --basic-blue-darkest: #32425C;
  --basic-blue-shadow: #405069;
  --special-blue: #161D29;
  --special-blue-active:#1D2739;
  --basic-green: #63A63E;
  --basic-green-hover: #5FBB2D;
  --basic-white: #FFFFFF;
  --basic-white-lighten: rgba(255, 255, 255, 0.5);
  --basic-black: #000000;
  --basic-grey: #F1F5F7;
  --basic-grey-lighten: #EAEAEA;
  --basic-grey-darken: #A9A9A9;
  --basic-yellow: #FFBF47;
  --basic-yellow-lighten: #FFC047;
  --basic-light-blue: #3BBCE3;
  --basic-violet: #DC91D8;
  --basic-light-green: #8ED78F;
  --basic-pink-lighten: #F9F5F0;
  --special-gold: #FFD180;
  --special-grey: #C5C5C5;
  --social-blue: #212A3A;
}
/*Global*/
body {
  min-width: 960px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-white);
  color: var(--basic-black);
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.clear-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
/*Header*/
.main-header {

}
.header-top {
  background-color: var(--basic-blue-darken);
}
.logo {
  display: block;
  width: 220px;
  height: 42px;
  background-color: var(--basic-red);
  box-shadow: 0 5px 0 var(--basic-red-darken);
}
.logo:active {
  background-color: var(--basic-red-hover);
}
/*Поиск*/
.site-search:hover {
  background-color: var(--basic-white);
  border: none;
  color: var(--basic-black);
}
.marks,
.cart,
.order {
  color: var(--basic-white);
}
.marks:active,
.cart:active {
  background-color: var(--special-blue);
  color: var(--basic-white-lighten);
}
.order {
  background-color: var(--basic-green);
}
.order:hover {
  background-color: var(--basic-green-hover);
}
.order:active {
  background-color: var(--basic-green);
  color: var(--basic-white-lighten);
}
.header-bottom {
  background-color: var(--basic-grey);
  padding-bottom: 74px;
}
.site-desc {
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  margin: 0;
}
.phone-number-header {
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
}
.location-adress {
  font-size: 14px;
  color: var(--basic-blue);
}
.login-link,
.registration-link {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}
.login-link:hover,
.registration-link:hover {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-red);
}
.login-link:active,
.registration-link:active {
  font-size: 21px;
  line-height: 21px;
  color: var(--special-grey);
}
.main-navigation {
  background-color: var(--basic-blue);
}
.site-navigation {
  box-shadow: 0 5px 0 var(--basic-blue-darken);
  padding-left: 0;
}
.site-navigation-item {

}
.site-navigation-item a {
  color: var(--basic-white);
  font-size: 16px;
}
.site-navigation-item a:hover {
  color: var(--basic-white);
  font-size: 16px;
  background-color: var(--basic-blue-darken);
}
.site-navigation-item a:active{
  color: var(--basic-white-lighten);
  font-size: 16px;
  background: var(--special-blue-active);
}
 /*Main*/
/*Promo-block*/
.promo-block {
}
.materials {
  background-color: var(--basic-yellow);
}
.instruments {
  background-color: var(--basic-light-blue);
}
.technics {
  background-color: var(--basic-violet);
}
.discount {
  background-color: var(--basic-light-green);
}
.delivery {
  background-color: var(--basic-yellow-lighten);
}
.promo-information-list {

}
.promo-information-item {

}
.promo-information-item p {
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}
.promo-information-button {
  display: block;
  color: var(--basic-white);
  background-color: var(--basic-white-lighten);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.promo-information-button:hover {
  background-color: var(--special-grey);
}
.promo-information-button:active {
  background-color: var(--basic-grey-darken);
}
.promo-information-slider {
  background-color: var(--basic-grey-darken); /*Здесь будут картинки*/
}
.promo-information-slider .promo-information-slider-perforators {
  font-size: 36px;
  line-height: 36px;
}
.promo-information-slider .promo-information-slider-toys {
  font-size: 18px;
  line-height: 24px;
}
 /*Красная кнопка*/
.red-button {
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
}
.red-button:hover {
  background-color: var(--basic-red-hover);
}
.red-button:active {
  background-color: var(--basic-red-darken);
}
/*Популярные товары*/
.popular-product {
  font-family: "PT Sans", "Arial", sans-serif;
}
.popular-product-heading {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-blue);
  background-color: var(--basic-pink-lighten);
}
.popular-product-list {
}
.popular-product-item {
  border: 1px solid var(--basic-grey-lighten);
}
.popular-product-item a{
  color: var(--basic-black);
  line-height: 20px;
}
.old-price {
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-grey-darken);
}
.price-button {
}
/*Популярные производители*/
.popular-brand {

}
.popular-brand-heading {
  background-color: var(--basic-pink-lighten);
  text-transform: uppercase;
  font-weight: normal;
  color: var(--basic-blue);
  font-size: 30px;
  line-height: 30px;
}
.popular-brand-list {

}
.popular-brand-item {
  border: 1px solid var(--basic-grey-lighten);
  background-color: var(--basic-white);
}
/*Сервисы*/
.service {
  background-color: var(--basic-grey);
}
.service-heading {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.service-desc,
.service-slider-desc {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.service-list {

}
.service-item {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 30px;
  border-bottom: 1px solid var(--basic-blue-darken);
  border-top: 1px solid var(--basic-blue-shadow);
}
.service-item:hover {
  background-color: var(--basic-blue-darken);
}
.service-item:active {
  background-color: var(--basic-white);
  color: var(--basic-blue);
  border: none;
}
/*company-desc*/
.company-desc-heading,
.company-contacts-heading {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}
.company-desc-text,
.company-contacts-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}
.company-desc-list {
}
.company-desc-item {
  position: relative;
  padding-left: 37px;
}
.company-desc-item:before {
  position: absolute;
  left: 0;
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  top: 10px;
}
 /*Footer*/
/*футер-топ*/
.footer-top {
  background-color: var(--basic-blue);
}
.footer-top-text,
.phone-number-footer {
  color: var(--basic-white);
}
.phone-number-footer {
}
.footer-bottom {
  background-color: var(--basic-blue-darken);
}
.footer-navigation {
}
.footer-navigation a {
  color: var(--basic-grey);
}
.footer-navigation a:hover {
  text-decoration: underline;
}
.footer-navigation a:active {
  color: var(--basic-grey);
  opacity: 50%;
}
.footer-promo-list {
}
.footer-promo-item a {
  color: var(--special-gold);
}
.footer-promo-item a:hover {
  text-decoration: underline;
}
.footer-promo-item a:active {
  opacity: 50%;
}
/*футер-боттом*/
.footer-bottom-social {
}
.social-button {
  background-color: var(--social-blue);
  color: var(--basic-white);
}
.social-button:hover,
.social-button:active {
  background-color: var(--basic-red);
}
.footer-bottom-text {
  color: var(--basic-white);
}
.feedback,
.developers {
  color: var(--special-gold);
}
.feedback:hover,
.developers:hover {
  text-decoration: underline;
}
.feedback:active,
.developers:active {
  color: var(--basic-red);
}
