@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: local("Cuprum Regular"), local("Cuprum-Regular"),
       url("../fonts/cuprum.woff2") format("woff2"),
       url("../fonts/cuprum.woff") format("woff");
}
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: local("Cuprum Italic"), local("Cuprum-Italic"),
       url("../fonts/cuprumitalic.woff2") format("woff2"),
       url("../fonts/cuprumitalic.woff") format("woff");
}
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: local("Cuprum Bold"), local("Cuprum-Bold"),
       url("../fonts/cuprumbold.woff2") format("woff2"),
       url("../fonts/cuprumbold.woff") format("woff");
}
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  src: local("Cuprum Bold Italic"), local("Cuprum-BoldItalic"),
       url("../fonts/cuprumbolditalic.woff2") format("woff2"),
       url("../fonts/cuprumbolditalic.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
       url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
       url("../fonts/ptsansbold.woff2") format("woff2"),
       url("../fonts/ptsansbold.woff") format("woff");
}
/*Variables*/
:root {
  --basic-red: #EE3643;
  --basic-red-hover: #CA2C37;
  --basic-red-darken: #BA2732;
  --basic-blue: #32425C;
  --basic-blue-darken: #293449;
  --basic-blue-darkest: #32425C;
  --basic-blue-shadow: #405069;
  --special-blue: #161D29;
  --special-blue-active:#1D2739;
  --basic-green: #63A63E;
  --basic-green-hover: #5FBB2D;
  --basic-green-shadow: #367315;
  --basic-green-darken: #518534;
  --basic-white: #FFFFFF;
  --basic-white-lighten: rgba(255, 255, 255, 0.5);
  --special-white: rgba(0, 0, 0, 0.15);
  --basic-black: #000000;
  --basic-grey: #F1F5F7;
  --basic-grey-lighten: #EAEAEA;
  --basic-grey-darken: #A9A9A9;
  --special-grey: #C5C5C5;
  --special-grey-border: #E5E5E5;
  --basic-yellow: #FFBF47;
  --basic-yellow-lighten: #FFC047;
  --basic-light-blue: #3BBCE3;
  --basic-violet: #DC91D8;
  --basic-light-green: #8ED78F;
  --basic-pink-lighten: #F9F5F0;
  --special-gold: #FFD180;
  --social-blue: #212A3A;
}
/*Global*/
body {
  min-width: 960px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-white);
  color: var(--basic-black);
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.clear-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*Header*/
.main-header {
}
.header-top {
  background-color: var(--basic-blue-darken);
  display: flex;
}
.header-top .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logosearch-wrapper {
  display: flex;
  align-items: center;
}
.logo {
  display: block;
  width: 220px;
  height: 42px;
  background-color: var(--basic-red);
  box-shadow: 0 5px 0 var(--basic-red-darken);
}
.logo:active {
  background-color: var(--basic-red-hover);
}
/*Поиск*/
.site-search {
}
.site-search:hover {
  background-color: var(--basic-white);
  border: none;
  color: var(--basic-black);
}
.marks,
.cart,
.order {
  color: var(--basic-white);
}
.mco-wrapper {
  display: flex;
  justify-content: space-between;
}
.marks:active,
.cart:active {
  background-color: var(--special-blue);
  color: var(--basic-white-lighten);
}
.order {
  background-color: var(--basic-green);
}
.order:hover {
  background-color: var(--basic-green-hover);
}
.order:active {
  background-color: var(--basic-green);
  color: var(--basic-white-lighten);
}
.header-bottom {
  background-color: var(--basic-grey);
  padding-bottom: 74px;
}
.header-bottom .header-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.site-desc {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  width: 300px;
  margin-top: 41px;
}
.location-adress {
  text-align: center;
  font-size: 14px;
  margin-top: 41px;
  color: var(--basic-blue);
}
.phone-number-header {
  display: block;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
}
.login-registration {
  display: flex;
  width: 300px;
  justify-content: flex-end;
  margin-top: 41px;
}
.login-link,
.registration-link,
.user-link {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.login-link:hover,
.registration-link:hover {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-red);
}
.login-link:active,
.registration-link:active,
.user-link:active {
  font-size: 21px;
  line-height: 21px;
  color: var(--special-grey);
}
.main-navigation {
  background-color: var(--basic-blue);
}
.site-navigation {
  display: flex;
  width: 940px;
  justify-content: space-around;
  box-shadow: 0 5px 0 var(--basic-blue-darken);
  padding-left: 0;
}
.site-navigation-item {
}
.site-navigation-item a {
  color: var(--basic-white);
  font-size: 16px;
}
.site-navigation-item a:hover {
  color: var(--basic-white);
  font-size: 16px;
  background-color: var(--basic-blue-darken);
}
.site-navigation-item a:active{
  color: var(--basic-white-lighten);
  font-size: 16px;
  background: var(--special-blue-active);
}
 /*Main*/
/*Promo-block*/
.promo-block {
}
.materials {
  background-color: var(--basic-yellow);
}
.instruments {
  background-color: var(--basic-light-blue);
}
.technics {
  background-color: var(--basic-violet);
}
.discount {
  background-color: var(--basic-light-green);
}
.delivery {
  background-color: var(--basic-yellow-lighten);
}
.promo-information-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}
.promo-information-item {
}
.promo-information-item p {
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}
.promo-information-button {
  display: block;
  color: var(--basic-white);
  background-color: var(--basic-white-lighten);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.promo-information-button:hover {
  background-color: var(--special-grey);
}
.promo-information-button:active {
  background-color: var(--basic-grey-darken);
}
.promo-information-slider {
  background-color: var(--basic-grey-darken); /*Здесь будут картинки*/
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}
.promo-information-slider-title {
  font-size: 36px;
  line-height: 36px;
}
.promo-information-slider-desc {
  font-size: 18px;
  line-height: 24px;
}
 /*Красная кнопка*/
.red-button {
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
}
.red-button:hover {
  background-color: var(--basic-red-hover);
}
.red-button:active {
  background-color: var(--basic-red-darken);
}
/*Популярные товары*/
.popular-product {
  font-family: "PT Sans", "Arial", sans-serif;
}
.popular-product-wrapper {
  display: flex;
  background-color: var(--basic-pink-lighten);
  align-items: center;
}
.popular-product-wrapper a {
  width: 192px;
}
.popular-product-heading {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-blue);
  background-color: var(--basic-pink-lighten);
  width: 100%;
}
.popular-product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.popular-product-item {
  border: 1px solid var(--basic-grey-lighten);
}
.popular-product-item a{
  color: var(--basic-black);
  line-height: 20px;
}
.old-price {
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-grey-darken);
}
.price-button {
}
/*Популярные производители*/
.popular-brand {
}
.popular-brand-heading {
  background-color: var(--basic-pink-lighten);
  text-transform: uppercase;
  font-weight: normal;
  color: var(--basic-blue);
  font-size: 30px;
  line-height: 30px;
  width: 100%;
}
.popular-brand-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.popular-brand-item {
  border: 1px solid var(--basic-grey-lighten);
  background-color: var(--basic-white);
}
/*Сервисы*/
.service .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
  align-items: center;
}
.service-wrapper {
  grid-column: 1 / -1;
}
.service,
.perforators-desc {
  background-color: var(--basic-grey);
}
.service-heading,
.perforators-desc-heading {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.service-slider-heading {
  line-height: 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
  color: var(--basic-blue);
}
.service-desc,
.service-slider-desc,
.perforators-desc-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.service-list {
}
.service-item {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 30px;
  border-bottom: 1px solid var(--basic-blue-darken);
  border-top: 1px solid var(--basic-blue-shadow);
}
.service-item:hover {
  background-color: var(--basic-blue-darken);
}
.service-item:active {
  background-color: var(--basic-white);
  color: var(--basic-blue);
  border: none;
}
/*company-desc*/
.desc-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.company-contacts {
  justify-self: end;
}
.company-desc-heading,
.company-contacts-heading {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}
.company-desc-text,
.company-contacts-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}
.company-desc-list {
}
.company-desc-item {
  position: relative;
  padding-left: 37px;
}
.company-desc-item:before {
  position: absolute;
  left: 0;
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  top: 10px;
}
 /*Footer*/
/*футер-топ*/
.footer {
  display: grid;
}
.footer-top {
  background-color: var(--basic-blue);
}
.footer-top .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.logo-wrapper {
  width: 320px;
}
.nav-wrapper {
  width: 550px;
  justify-content: center;
  align-items: flex-end;
}
.footer-top-wrapper {
  display: flex;
  flex-direction: column;
}
.footer-top-text,
.phone-number-footer {
  color: var(--basic-white);
}
.phone-number-footer {
}
.footer-navigation {
  display: flex;
  margin-bottom: 34px;
}
.footer-navigation-item {
  margin-left: 58px;
}
.footer-navigation a {
  color: var(--basic-grey);
}
.footer-navigation a:hover {
  text-decoration: underline;
}
.footer-navigation a:active {
  color: var(--basic-grey);
  opacity: 50%;
}
.footer-promo-list {
  display: flex;
  justify-content: flex-end;
}
.footer-promo-item {
  align-self: center;
  justify-content: space-between;
  margin-left: 60px;
}
.footer-promo-item a {
  color: var(--special-gold);
}
.footer-promo-item a:hover {
  text-decoration: underline;
}
.footer-promo-item a:active {
  opacity: 50%;
}
/*футер-боттом*/
.footer-bottom {
  background-color: var(--basic-blue-darken);
}
.footer-bottom .container {
  display: flex;
  justify-content: space-between;
}
.footer-bottom-text:first-child {
width: 240px;
}
.footer-bottom-social {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-self: center;
  margin-left: auto;
}
.social-button {
  background-color: var(--social-blue);
  color: var(--basic-white);
}
.social-button:hover,
.social-button:active {
  background-color: var(--basic-red);
}
.footer-bottom-text {
  color: var(--basic-white);
  line-height: 18px;
  font-size: 16px;
}
.feedback,
.developers {
  color: var(--special-gold);
  display: flex;
}
.feedback-text {
  margin-left: auto;
  margin-right: 50px;
}
.dev-text {
  margin-right: 15px;
}
.feedback:hover,
.developers:hover {
  text-decoration: underline;
}
.feedback:active,
.developers:active {
  color: var(--basic-red);
}
 /*Catalog*/
/*Hedear*/
.catalog-cart {
  background-color: var(--basic-red);
}
.my-orders,
.private-area {
  color: var(--basic-blue);
  line-height: 18px;
  font-size: 16px;
}
.my-orders:hover,
.private-area:hover {
  color: var(--basic-red);
}
.my-orders:active,
.private-area:active {
  color: var(--special-grey);
}

/*Main*/
.page-catalog .container {
  display: grid;
  grid-template-columns: 220px 3fr;
}
.perforators-heading {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-blue);
  background-color: var(--basic-grey);
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}
.breadcrumbs {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  grid-column: 1 / -1;
}
.breadcrumbs a {
  color: var(--basic-black);
}
.catalog-product {
  font-family: "PT Sans", "Arial", sans-serif;
}
.catalog-product-list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  height: 100%;
}
.catalog-product-item {
  position: relative;
  border: 1px solid var(--basic-grey-lighten);
  margin-bottom: 10px;
}
.catalog-product-item:hover {
  box-shadow: 0px 4px 20px var(--special-white);
}
.catalog-product-item a {
  color: var(--basic-black);
  line-height: 20px;
}
.product-item-hover {
  box-shadow: 0px 4px 20px var(--special-white);
}
/*зелёные кнопки*/
.catalog-product-actions {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--basic-white);
}
.buy {
  color: var(--basic-white);
  background-color: var(--basic-green);
  box-shadow: 0px 3px 0px var(--basic-green-shadow);
  border-radius: 2px;
}
.buy:hover {
  background-color: var(--basic-green-hover);
}
.buy:active {
  background-color: var(--basic-green-darken);
}
.add-marks {
  color: var(--basic-blue);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
}
.add-marks:hover {
  border: 3px solid var(--basic-blue);
}
.add-marks:active {
  border: 3px solid var(--basic-blue);
  color: var(--basic-blue);
  opacity: 0.5;
}
/*Пагинация*/
.pagination {
  font-size: 13px;
  line-height: 18px;
}
.pagination-item .current {
  background-color: var(--basic-red);
  color: var(--basic-white);
  border: 1px solid var(--basic-red);
  border-radius: 2px;
}
.pagination-item a {
  color: var(--basic-black);
  text-transform: uppercase;
  border: 1px solid var(--special-grey-border);
  border-radius: 2px;
}
.pagination a:hover {
  border: 1px solid var(--special-grey);
}
.pagination a:active {
  border: 1px solid var(--basic-red);
}

